.book
  .book-cover
    .fade
      %p.book-title The Self-Taught Developer's Handbook
      - 2.times do
        %br
      %p How to skip college and establish a rewarding life developing software.
      - 4.times do
        %br
      %p By Hank Stoever

  %h3.center Your Guidebook to Becoming a Successful Developer
  %p
    Software developers are in an extremely lucky place right now. We get to do work that is rewarding, challenging, and motivating. On top of that, we are in one of the few industries where employees have the upper hand right now. 

  %p 
    I think the biggest advantage, however, is how easy it is to become a talented developer without a formal university degree. 
    There are seemingly infinite learning materials. The only resources needed are a computer and an internet connection, and if you're already on this webpage, you're all set up. But it's easy to get lost in a world with
    %em infinite paths and resources.

  %p
    %strong The Self-Taught Developer's Handbook
    is a guide to navigating life as a self-taught programmer. I'll walk you through everything you know at every step of the way, from your first website to moving up the career ladder as a professional. I won't spend much time teaching you how to code, but I will be constantly referencing the best tutorials, courses, and other learning materials you'll need to advance your skills.

  %p 
    I'll also be telling you what you need to learn in order to become a productive professional developer that technology companies are yearning for. The most important part of becoming a valued developer these days is a
    %strong strong open source portfolio.
    The Self-Taught Developer's Handbook will cover everything you need to know to keep yours impressive and up-to-date.

  %p
    If employment isn't your thing, you aren't alone in the world of self-taught software developers. I'll help you enteurpreneurs navigate start-up land. I also cover freelancing for those who just want to be there own boss.

  / %p
  /   The current system isn't working. Students around the world are raised to believe that if they go to college and get a degree in anything they want, there will be jobs waiting for them on the other side. While at one point in time this idea may have resembled reality, it is no longer the case.

  / %p 
  /   It's no secret that current job markets are extremely competitive, and employer's have the upper hand. Because companies are forced to be more picky with who they hire, there is a paradigm shift where your credentials matter a lot less than your 
  /   %strong demonstratable value. 

  / %p
  /   So what exactly is
  /   %em demonstratable value?
  /   To get a job these days, you have to be able to clearly articulate what you'll be contributing to the company. It doesn't work to simply have a formal degree anymore. Instead of saying 
  /   %em 'I have a marketing degree',
  /   you must say 
  /   %em 'I have experience bringing customers to other products, which you can see here and here...
  /   ', for example.