.book
.book-cover
  .fade
    %p.book-title The Self-Taught Developer's Handbook
    - 11.times do
      %br
    /%p A book about learning to learn.
    /- 4.times do
    /  %br
    %p By Hank Stoever

%h3.center A Book About Learning to Learn

/%p The handbook will cover things like
/
/%ul
/  %li Why you can make it as a self-taught programmer
/  %li How to keep an up-to-date portfolio
/  %li Contributing to open source
/  %li Getting internships and jobs
/  %li Interview scenarios
/  %li Learning what they don't teach at universities
/  %li A plan for practicing and improving your skills
/  %li Starting a high-paying career
/  %li Becoming financially independent
/
/
/%p
/  Software developers are in an extremely lucky place right now. We get to do work that is rewarding, challenging, and motivating. On top /of that, we are in one of the few industries where employees have the upper hand right now. 
/
/%p 
/  I think the biggest advantage, however, is how easy it is to become a talented developer without a formal university degree. 
/  There are seemingly infinite learning materials. The only resources needed are a computer and an internet connection, and if you're /already on this webpage, you're all set up. But it's easy to get lost in a world with
/  %em infinite paths and resources.

%p
  %strong The Self-Taught Developer's Handbook
  is a guide to navigating life as a self-taught programmer. I'll walk you through everything you know at every step of the way, from your first website to moving up the career ladder as a professional. I won't spend much time teaching you how to code, but I will be constantly referencing the best tutorials, courses, and other learning materials you'll need to advance your skills.

%p The goal of this book is to teach you how to become a problem-solving programmer. One reason I chose not to incorporate any specific programming tutorials is because I want you need to learn what to find on your own. I can't simply reference all of the great works. This is a book about learning how to learn. The journey is the reward. But it helps to have a good handbook.

= render partial: 'customers/book_form'

%p 
  I'll be telling you what you need to learn in order to become a productive professional developer that technology companies are yearning for. The most important part of becoming a valued developer these days is a
  %strong strong open source portfolio.
  The Self-Taught Developer's Handbook will cover everything you need to know to keep yours impressive and up-to-date.

%p
  If employment isn't your thing, you aren't alone in the world of self-taught software developers. I'll help you entrepreneurs navigate start-up land. I also cover freelancing for those who just want to be their own boss. You might also choose to follow the path I'm exploring through writing this book and teach a course or write a book with your newfound knowledge.

%ol#toc
  %h4.center Table of Contents
  %p 
    %strong Part One: Why Be Self-Taught
  %li No One is Really Self-Taught
  %li Degree No Longer Required
  %li The Good Life
  %br
  %p
    %strong Part Two: A Blossoming Developer
  %li ABC (Always Be Coding)
  %li Scratch Itches
  %li Diversify
  %li Solve Puzzles
  %br
  %p
    %strong Part Three: Getting Out There
  %li Contributing to Open Source
  %li Your Personal Website
  %li Meetups & More
  %br
  %p
    %strong Part Four: Going Pro
  %li Getting a (Paid) Internship
  %li Your First Job
  %li Interviews 
  %br
  %p
    %strong Part Five: The Independent Developer
  %li Freelancing
  %li Entrepreneurship
  %li Selling your Knowledge
  %br
  %p
    %strong Appendix
  %li Go

  %p.small.description * subject to change

%br

= render partial: "customers/book_form"

%br

%h3 About the Author

%p
  I am one of many modest college dropout success stories. While studying economics, I taught myself how to program, and quickly got an internship at an early stage startup. Creating software was the most rewarding work I had ever done, so when my boss offered me a full-time position, I took the offer and didn't enroll in school the next quarter. It's been the best decision of my life. I'm still younger than most college graduates, but have more real-world experience and a portfolio to demonstrate it. I want to share the great opportunities I'm thankful for with you.

/ %p
/   The current system isn't working. Students around the world are raised to believe that if they go to college and get a degree in anything they want, there will be jobs waiting for them on the other side. While at one point in time this idea may have resembled reality, it is no longer the case.

/ %p 
/   It's no secret that current job markets are extremely competitive, and employer's have the upper hand. Because companies are forced to be more picky with who they hire, there is a paradigm shift where your credentials matter a lot less than your 
/   %strong demonstratable value. 

/ %p
/   So what exactly is
/   %em demonstratable value?
/   To get a job these days, you have to be able to clearly articulate what you'll be contributing to the company. It doesn't work to simply have a formal degree anymore. Instead of saying 
/   %em 'I have a marketing degree',
/   you must say 
/   %em 'I have experience bringing customers to other products, which you can see here and here...
/   ', for example.