%br
%h2.center
  Be Independent, Motivated, and Free
#book-copy
  :markdown
    Being self-taught is the decision to control the path of your learning.
    You can say you are self-taught if you are deliberate and independent.
    If you’re like me, **you’re happier in life when you feel independent and
    confident about what you’re doing**. This guidebook aims to help you through
    life as a self-taught programmer. The goal is to learn to build software as
    a means to a happy life. I love building software because it uniquely allows
    me to feel challenged and motivated.

    I found success as a self-taught programmer. I have a rewarding career, a
    thriving open source portfolio, and a few profitable side projects. I’m
    building this guidebook in hopes that you might find similiar results.

    Navigating the world of building software can be tricky and overwhelming,
    especially when getting starting. I’ve sifted through a ton of useful and useless
    information to find the stuff that actually helps, and you’ll find those in
    the guide all along the way. The guidebook **won’t teach you how to build any
    software, but it will show you how to learn how to build software**. The ability
    to learn how to build software, applied appropriately, can propel you to do
    anything you might desire.

    Building software means many things. You might
    want to learn to build websites, games, spaceships, apps, or robots.
    Depending on the path you want to take, the resources you’ll need will
    be different. For example, if you want
    to build spaceships, you'll need the infrastructure a university can provide.
    On the other hand, if you want to build websites, apps, or games,
    you need nothing more than a computer (and this guidebook, of course).

    The guidebook begins for those without any knowledge of building software,
    and ends for programmers who don’t need a guidebook anymore. If you know how
    to build software but are just getting into life as a professional, more than
    half of the guidebook will be applicable for you!

    Enter your email to get exclusive discounts and updates for the book.
