%h2 Frequently Asked Questions

%strong
  What language will this guidebook cover?

%p
  No specific language will be covered; instead, many different languages
  will be suggested based off what type of software you'd like to build.

%strong
  Will programming tutorials or exercises be included?

%p
  No, they will not. The guidebook will, however, navigate you towards a
  myriad of on-and-offline resources that will work you through the actual
  programming.

%strong
  So why do I need this thing?

%p
  This guidebook aims to be a curated walkthrough of everything out there
  that consists of 'learning to program'. It can be a lot. The guidebook will
  help you understand what works and what doesn't so that you can spend your
  time valuably.
