%ol#toc
  %h4.center Table of Contents
  %p
    %strong Part One: Why Be Self-Taught
  %li No One is Really Self-Taught
  %li Degree No Longer Required
  %li The Good Life
  %br
  %p
    %strong Part Two: A Blossoming Developer
  %li START!
  %li ABC (Always Be Coding)
  %li Scratch Itches
  %li Diversify
  %li Solve Puzzles
  %br
  %p
    %strong Part Three: Getting Out There
  %li Contributing to Open Source
  %li Your Personal Website
  %li Meetups & More
  %br
  %p
    %strong Part Four: Going Pro
  %li Getting a (Paid) Internship
  %li Your First Job
  %li Interviews
  %br
  %p
    %strong Part Five: The Independent Developer
  %li Freelancing
  %li Entrepreneurship
  %li Selling your Knowledge
  %br
  %p
    %strong Appendix
  %li Go

  %p.small.description * subject to change

%br
