%p
  I'm creating a course that will teach you how to create your own bitcoin arbitrage bot. It's being crowdfunded
  right now on Uludum.org. You can reserve full access to course materials for just $10.00, which is $40 less than the launch day price.

%p
  = link_to "https://www.uludum.org/funds/2", "https://www.uludum.org/funds/2"

%p Some other features of the course:

%ul
  %li built with my open source arbitrge package
  %li no programming knowledge required
  %li support for Bitstamp, BTC-e, CampBX, and MtGox

%p Preordering will also qualify you for the beta course to provide feedback and get early access to course materials.

%p
  You're receiving this email because you subscribed to get updates from
  = succeed "." do
    = link_to "http://hankstoever.com", "http://hankstoever.com"

%p Have any questions? Just hit reply and I'll see your message immediately.