$green: rgb(63, 202, 52)
$purple: #6d34ca
html
  :height 100%
  :margin 0px
  :padding 0px

body
  :color #333
  :font-family Helvetica Neue
  :margin 0px
  :padding 0px
  :height 100%
  :position relative
  :top -21px
  :font-weight 300
  :letter-spacing 1px
  :height 100%
  :font-size 14px
  :line-height 1.35em

h1, h2, h3, h4, h5, h6
  :line-height 1.25em

h4
  :margin 10px 0

a, a:visited
  :color rgb(114, 114, 114)
  &.plain
    :color #333
    :text-decoration none
    &:hover
      :text-decoration underline


#sidebar
  :z-index 10
  :float left
  :width 300px
  :text-align right
  p
    :margin 5px 0
  .avatar
    :width 300px
  .desc
    :padding 10px
    h1
      :margin 5px

.description
  :color #aaa
  :font-weight 300
  :font-size 13px


#main
  :padding 0 25px
  :margin-top 20px
  :float left
  :min-height 100%
  :border-left 1px solid rgba(126, 89, 180, 0.5)
  :max-width 600px
  :width 100%
  img
    :max-width 100%

.project
  :margin-left 20px
  :font-size 14px
  :line-height 16px
  //a
  //  :font-size 16px

i[class*="icon-"]
  :opacity 0.7
  :margin 0 10px

@mixin retro($spacing)
  $opacity: 0.7
  :text-shadow $spacing -#{$spacing} 0 rgba(#ecd07a, $opacity), -#{$spacing} -#{$spacing} rgba(#34b0ca, $opacity), -#{$spacing} $spacing 0 rgba(#ff628b, $opacity), $spacing $spacing 0 rgba(#3fca34, $opacity)//, 0 0 25px black
  $textColor: rgba(#6d34ca, 0.6)
  :color $textColor
  a
    :color $textColor
    :text-decoration none
    &:hover, &:active
      :text-decoration underline

.retro
  +retro(1px)

.label
  :font-size 12px
  :padding 2px 4px
  :background-color #ccc
  :color white
  :font-weight 700
  :border-radius 2px

blockquote
  :border-left 4px solid #ccc
  :padding-left 15px

code
  :background-color whiteSmoke

.small
  :font-size 12px

.highlight
  :background-color #FDE7FF
  :padding 6px

.book-cover
  $color: $purple
  $width: 300px
  $height: 400px
  :width $width
  :height $height
  :background-image url('/images/tweed.png')
  // self hosted version
  //:background-image url('http://subtlepatterns.com/patterns/tweed.png')
  :background-repeat repeat
  :margin 20px auto
  :border 1px solid darken($color, 30%)
  :border-radius 0px 1px 1px 0
  //:border-radius 0
  $pages: 1px -1px 0 darken(whiteSmoke, 10%)
  $pageLength: 5
  $pageGap: 2
  @for $i from 2 through $pageLength
    $pages: $pages, #{$i * $pageGap}px -#{$i * $pageGap}px 0 darken(whiteSmoke, ($i * (35 / $pageLength)))
  $bounder: #{$pageLength * $pageGap + 1}px -#{$pageLength * $pageGap + 1}px 0 darken($color, 35%)
  @for $i from 0 through $pageLength
    $bounder: $bounder, #{$i * $pageGap}px #{-1 - $i * $pageGap}px 0px darken($color, 35%)
  :box-shadow $pages, $bounder, 0 0 45px rgba(black, 0.8)
  :text-align center
  :text-transform uppercase
  :font-family 'Lato', Helvetica Neue
  .fade
    $padding: 40px
    $binding: 3px
    :background-color rgba($color, 0.3)
    :padding 20px $padding
    :width $width - $padding * 2 - $binding
    :height $height - 20px * 2
    :border-radius 0 3px 3px 0
    :position relative
    :left $binding
    :box-shadow -#{$binding} 0 0 rgba(darken($color, 40%), 0.3), -#{$binding / 2} 0 0 rgba(darken($color, 20%), 0.7)
  p
    //+retro(2px)
    :color lighten($green, 40%)
    :font-size 16px
    $shadow: rgba(darken($color, 30%), 0.6)
    :text-shadow 1px 1px 1px $shadow, 0 -1px 0 $shadow
    &.book-title
      :font-size 18px
      :line-height 1.25em

.center
  :text-align center

#toc
  :padding 10px 40px 20px
  :border 1px solid #ccc
  :max-width 300px
  :margin 0px auto
  :border-radius 3px
  :box-shadow 0 0 13px #ccc

.book-form
  :text-align center
  :border 1px solid #ccc
  :max-width 400px
  :margin 0px auto
  :padding 20px 10px 10px
  input[type="email"]
    :font-size 16px
    :width 200px
    :padding 2px 6px
  input[type="submit"]
    :background #ccc
    :border 1px solid #ccc
    :font-size 16px
    :padding 3px 6px

.notice
  :color green

pre
  :font-size 12px
  :line-height 1.5em
  :padding 10px
  :overflow-x scroll
pre, code
  :background-color lighten(black, 90)

