@import "variables"

html
  :height 100%
  :margin 0px
  :padding 0px

body
  :color #333
  :font-family Helvetica Neue
  :margin 0px
  :padding 0px
  :height 100%
  :position relative
  :top -21px
  :font-weight 300
  :letter-spacing 1px
  :height 100%
  :font-size 14px
  :line-height 1.35em

h1, h2, h3, h4, h5, h6
  :line-height 1.25em

h4
  :margin 10px 0

a, a:visited
  :color rgb(114, 114, 114)
  &.plain
    :color #333
    :text-decoration none
    &:hover
      :text-decoration underline


#sidebar
  :z-index 10
  :float left
  :width 300px
  :text-align right
  p
    :margin 5px 0
  .avatar
    :width 300px
  .desc
    :padding 10px
    h1
      :margin 5px
  .book-link
    text-decoration: none
    display: block
    text-align: center
    background-color: #2741a9
    color: darken(white, 2.5)
    font-weight: 800
    padding: 15px
    border-radius: 4px
    opacity: 0.9

.description
  :color #aaa
  :font-weight 300
  :font-size 13px


#main
  :padding 0 25px
  :margin-top 20px
  :float left
  :min-height 100%
  :border-left 1px solid rgba(126, 89, 180, 0.5)
  :max-width 600px
  :width 100%
  img
    :max-width 100%

.project
  :margin-left 20px
  :font-size 14px
  :line-height 16px
  //a
  //  :font-size 16px

@mixin retro($spacing)
  $opacity: 0.7
  :text-shadow $spacing -#{$spacing} 0 rgba(#ecd07a, $opacity), -#{$spacing} -#{$spacing} rgba(#34b0ca, $opacity), -#{$spacing} $spacing 0 rgba(#ff628b, $opacity), $spacing $spacing 0 rgba(#3fca34, $opacity)//, 0 0 25px black
  $textColor: rgba(#6d34ca, 0.6)
  :color $textColor
  a
    :color $textColor
    :text-decoration none
    &:hover, &:active
      :text-decoration underline

.retro
  +retro(1px)

.label
  :font-size 12px
  :padding 2px 4px
  :background-color #ccc
  :color white
  :font-weight 700
  :border-radius 2px

blockquote
  :border-left 4px solid #ccc
  :padding-left 15px

code
  :background-color whiteSmoke

.small
  :font-size 12px

.highlight
  :background-color #ECE4F5
  :padding 15px
  :font-size 16px
  line-height: 1.5em
  font-weight: bolder

.ad
  .fa
    font-size: 72px

.center
  :text-align center

.notice
  :color green

pre
  :font-size 12px
  :line-height 1.5em
  :padding 10px
  :overflow-x scroll
pre, code
  :background-color lighten(black, 90)
