%p.highlight
  Learn how to accept Bitcoin payments using Ruby on Rails.
  Grow your customer base and make more money!
  = link_to "Learn More", 'https://www.uludum.org/courses/122-how-to-accept-bitcoin-with-ruby-on-rails', target: "_blank"
